@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

.theme1 {
  --main_background: hsl(222, 26%, 31%); /*main background*/
  --toggle_background: hsl(223, 31%, 20%); /*toggle background, keypad background*/
  --screen_background: hsl(224, 36%, 15%); /*screen background*/
  /*Keys*/
  --special-key_background: hsl(225, 21%, 49%); /*key background*/
  --special-key_shadow: hsl(224, 28%, 35%); /*key shadow*/

  --toggle-key_background: hsl(6, 63%, 50%); /*key background, toggle*/
  --toggle-key_shadow: hsl(6, 70%, 34%); /*key shadow*/

  --regular-key_background: hsl(30, 25%, 89%); /*key background*/
  --regular-key_shadow: hsl(28, 16%, 65%); /*key shadow*/
  /*Text*/
  --regular-key_text: hsl(221, 14%, 31%);
  --special-key_text: hsl(0, 0%, 100%);
}

.theme2 {
  --main_background: hsl(0, 0%, 90%); /*main background*/
  --toggle_background: hsl(0, 5%, 81%); /*toggle background, keypad background*/
  --screen_background: hsl(0, 0%, 93%); /*screen background*/
  /*Keys*/
  --special-key_background: hsl(185, 42%, 37%); /*key background*/
  --special-key_shadow: hsl(185, 58%, 25%); /*key shadow*/

  --toggle-key_background: hsl(25, 98%, 40%); /*key background, toggle*/
  --toggle-key_shadow: hsl(25, 99%, 27%); /*key shadow*/

  --regular-key_background: hsl(45, 7%, 89%); /*key background*/
  --regular-key_shadownge: hsl(35, 11%, 61%); /*key shadow*/
  /*Text*/
  --regular-key_text: hsl(60, 10%, 19%);
  --special-key_text: hsl(0, 0%, 100%);
}

.theme3 {
  --main_background: hsl(268, 75%, 9%); /*main background*/
  --toggle_background: hsl(268, 71%, 12%); /*toggle background, keypad background, screen background*/
  --screen_background: hsl(268, 71%, 12%);
  /*Keys*/
  --special-key_background: hsl(281, 89%, 26%); /*key background*/
  --special-key_shadow: hsl(285, 91%, 52%); /*key shadow*/

  --toggle-key_background: hsl(176, 100%, 44%); /*key background, toggle*/
  --toggle-key_shadow: hsl(177, 92%, 70%); /*key shadow*/

  --regular-key_background: hsl(268, 47%, 21%); /*key background*/
  --regular-key_shadownge: hsl(290, 70%, 36%); /*key shadow*/
  /*Text*/
  --regular-key_text: hsl(52, 100%, 62%);
  --special-key_text: hsl(198, 20%, 13%);
}

:root {
  font-family: "League Spartan", sans-serif;
  font-size: 32px;
  --time_transition: 0.5s;
}
