@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

:root {
  /* Theme 1*/
  /*BackGrounds*/
  --Very_dark_desaturated_blue1: hsl(222, 26%, 31%); /*main background*/
  --Very_dark_desaturated_blue2: hsl(223, 31%, 20%); /*toggle background, keypad background*/
  --Very_dark_desaturated_blue3: hsl(224, 36%, 15%); /*screen background*/
  /*Keys*/
  --Desaturated_dark_blue1: hsl(225, 21%, 49%); /*key background*/
  --Desaturated_dark_blue2: hsl(224, 28%, 35%); /*key shadow*/

  --Red: hsl(6, 63%, 50%); /*key background, toggle*/
  --Dark_red: hsl(6, 70%, 34%); /*key shadow*/

  --Light_grayish_orange: hsl(30, 25%, 89%); /*key background*/
  --Grayish_orange: hsl(28, 16%, 65%); /*key shadow*/
  /*Text*/
  --Very_dark_grayish_blue: hsl(221, 14%, 31%);
  --White: hsl(0, 0%, 100%);

  /* Theme 2*/
  /*Backgrounds*/
  --Light_gray: hsl(0, 0%, 90%); /*main background*/
  --Grayish_red: hsl(0, 5%, 81%); /*toggle background, keypad background*/
  --Very_light_gray: hsl(0, 0%, 93%); /*screen background*/
  /*Keys*/
  --Dark_moderate_cyan: hsl(185, 42%, 37%); /*key background*/
  --Very_dark_cyan: hsl(185, 58%, 25%); /*key shadow*/

  --Orange: hsl(25, 98%, 40%); /*key background, toggle*/
  --Dark_orange: hsl(25, 99%, 27%); /*key shadow*/

  --Light_grayish_yellow: hsl(45, 7%, 89%); /*key background*/
  --Dark_grayish_orange: hsl(35, 11%, 61%); /*key shadow*/
  /*Text*/
  --Very_dark_grayish_yellow: hsl(60, 10%, 19%);

  /* Theme 3*/
  /*Backgrounds*/
  --Very_dark_violet: hsl(268, 75%, 9%); /*main background*/
  --Very_dark_violet: hsl(268, 71%, 12%); /*toggle background, keypad background, screen background*/
  /*Keys*/
  --Dark_violet: hsl(281, 89%, 26%); /*key background*/
  --Vivid_magenta: hsl(285, 91%, 52%); /*key shadow*/

  --Pure_cyan: hsl(176, 100%, 44%); /*key background, toggle*/
  --Soft_cyan: hsl(177, 92%, 70%); /*key shadow*/

  --Very_dark_violet: hsl(268, 47%, 21%); /*key background*/
  --Dark_magenta: hsl(290, 70%, 36%); /*key shadow*/
  /*Text*/
  --Light_yellow: hsl(52, 100%, 62%);
  --Very_dark_blue: hsl(198, 20%, 13%);

  /**/
  font-family: "League Spartan", sans-serif;
  font-size: 32px;
  --time_transition: 0.5s;
}
