body {
  background-color: black;
  height: 100vh;
}

.calculator-grid {
  display: grid;
  grid-template-areas: "calculator__card-1";
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.calculator__card-1 {
  margin: 10%;
  height: 60vh;
  padding: 0.5rem;
  background-color: var(--Very_dark_desaturated_blue1);
  grid-area: calculator__card-1;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

.calculator__name {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-left: 0.2rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: var(--White);
}

.calculator__theme {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  color: var(--White);
}

.theme__selector {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem;
  font-size: 18px;
  color: var(--White);
}

.theme__button {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--Very_dark_desaturated_blue2);
  margin: 0.2rem;
  border-radius: 5px;
}

.calculator__display {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: var(--Very_dark_desaturated_blue3);
  margin: 0.2rem;
  border-radius: 5px;
  color: var(--White);
}

#btn7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

#btn8 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

#btn9 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

#del {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

#btn4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

#btn5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

#btn6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}

#btn-plus {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}

#btn1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

#btn2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

#btn3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}

#btn- {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
}

#btn-point {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 8;
}

#btn0 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
}

#btnbar {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 8;
}

#btnx {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 8;
}

#reset {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;
}

#btn-equal {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 8;
  grid-row-end: 9;
}

.calculator__button,
.calculator__button-cmd,
.calculator__button-equal {
  margin: 0.2rem;
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
  font-size: 32px;
  background-color: var(--Light_grayish_orange);
  color: var(--Very_dark_grayish_blue);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.calculator__button-cmd {
  background-color: var(--Desaturated_dark_blue1);
color: var(--White);
}

.calculator__button-equal {
  background-color: var(--Red);
color: var(--White);
}

.attribution {
 color: var(--White);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
